HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.vsdx

/src/main/resumes
/Complete Resume JSON Representation.json
/Realistic Resume JSON Representation.json
/Single Page Resume JSON Representation.json
