<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تایید ثبت نام</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <!--First Name-->
    <div class="form-group">
        <p th:text="${user.firstName} + ' ' + ${user.lastName} + '، ثبت نام شما با موفقیت انجام شد.'"
           class="message_label"/>
    </div>

    <div class="form-group">
        <a th:href="@{/}" class="btn btn-primary">بازگشت به صفحه اصلی</a>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
